.ew-card-parent {
    width: 100%;
    padding: 8px 0px 8px 0px;
    display: flex;
    justify-content: center;
}

.ew-card {
    width: 100%;
    display: flex;
    max-width: 900px;
    padding: 0px;
}

.ew-chip {
    margin: 5px 5px;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #303030;
        color: whitesmoke;
    }
    .ew-card {
        background: #454545;
    }
    .mdl-card__title {
        color: whitesmoke;
    }
    .mdl-textfield__label {
        color: #aaa;
    }
    .mdl-textfield__input {
        color: white;
    }
}