.ew-card-parent {
    width: 100%;
    padding: 15px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.ew-card {
    width: 100%;
    display: flex;
    max-width: 900px;
    padding: 0px;
}

.ew-chip {
    margin: 5px 5px;
}